<p>The COVID-19 pandemic has indubitably impacted the way we live our day-to-day lives. In this project, we hope to make use of Earth Observation data to gather insights on how regional land-based human movement patterns may have shifted in response to COVID-19.</p>

<p>In particular, we examine geolocated NO2 and nocturnal illumination data for the regions of the UK and Japan, two countries that present ample socio-economic and geographic similarities but that have seen vastly different outcomes during this period.</p>

<p>For both types of data (NO2 and nocturnal illumination), our examination consists in calculating an average of the values before the outbreak, and comparing this average to the values during the outbreak, so to observe positive or negative changes in NO2 and nocturnal illumination levels at specific localities within the nations.</p>

<p>For the NO2 data, we hypothesise that a drop in these levels will be homogeneous across each individual nation, signifying lower amounts of human activity and fewer vehicle-based movements. Conversely with regards to nocturnal illumination, we hypothesise drops in illumination in certain areas may be linked to increases in illumination in other areas, implying a temporary migration of a significant number of people.</p>

<p>The results are presented overlaid on top of each nation's respective maps, with the possibility to observe the evolution of the changes over time via the use of a simple timeline tool.</p>

<p>Our hope is that insight can be gathered on whether the implied movement can be correlated to the severity of the outbreak in each nation.</p>
