<p>The COVID-19 pandemic has indubitably impacted the way we live our day-to-day lives. In this project, we hope to make
  use of Earth Observation data to gather insights on how regional land-based human movement patterns may have shifted
  in response to COVID-19.</p>

<p>In particular, we examine geolocated NO2 and nocturnal illumination data for the regions of the UK and Japan, two
  countries that present ample socio-economic and geographic similarities but that have seen vastly different outcomes
  during this period.</p>

<p>For both types of data (NO2 and nocturnal illumination), our examination consists in calculating an average of the
  values before the outbreak, and comparing this average to the values during the outbreak, so to observe positive or
  negative changes in NO2 and nocturnal illumination levels at specific localities within the nations.</p>

<p>For the NO2 data, we hypothesise that a drop in these levels will be homogeneous across each individual nation,
  signifying lower amounts of human activity and fewer vehicle-based movements. Conversely with regards to nocturnal
  illumination, we hypothesise drops in illumination in certain areas may be linked to increases in illumination in
  other areas, implying a temporary migration of a significant number of people.</p>

<p>The results are presented overlaid on top of each nation's respective maps, with the possibility to observe the
  evolution of the changes over time via the use of a simple timeline tool.</p>

<p>Our hope is that insight can be gathered on whether the implied movement can be correlated to the severity of the
  outbreak in each nation.</p>

<h2>NO2 Emissions</h2>

<p>NO2 emissions are normally emitted by the combustion of fossil fuels; and are generally emitted by large industrial
  areas, and areas with high levels of motor activity. We can therefore make a (loose) assumption that higher levels of
  NO2 correlates to more human activity and movement.</p>

<p>**Note** COVID-19 Incubation is 2-3 weeks. High levels of pollution will be indicative of results for 2 weeks later
  roughly.</p>

<p>World view:</p>

<ul>
  <li>Overall emissions have been lowered; decrease in size of zones with high levels of NO2
    (China/India/Italy/Netherlands), though these zones still remain (indicative of highly industrialised areas and/or
    large cities).
  </li>
  <li>Areas with lower emissions tend to stay relatively stable in terms of NO2 emissions (rural areas, where lockdown
    is less adhered). Case example is india; many of the medium-level areas of NO2 pollution (rural) remain the same but
    there are many reports of these areas having poor adherence to lockdown regulations.
  </li>
  <li>Remarks: Generally NO2 pollution has decreased in response to lower human activity. Certain areas such as major
    cities and highly industrialised countries continue to have high NO2 pollution; but there is a marked difference
    between pre-lockdown and during it. The decrease in the size of these zone (but not disappearing) can indicate that
    movement is much more limited, and there are fewer long distance journeys.
  </li>
  <li><strong>Analysis:</strong>: Countries with high levels of covid tended to produce more NO2 pollution. This can be
    indicative of higher levels of population movement, and thus a higher chance of infection.
  </li>
</ul>

<p>Spain view:</p>

<ul>
  <li>Opening remarks: Spain is considered to have not implemented and adhered to quarantine properly. The height of
    it’s lockdown can be considered to start in the latter half of March, and carry forward through April and May. We’ll
    therefore compare evidence from January, and April predominantly, but also generally look over the entire period in
    between.
  </li>
  <li>Spain at the start of their pandemic (early March): High levels of travel and pollution across the country. Madrid
    is a hotspot of NO2 pollution, but some high levels are recorded in South Spain (Granada/Saville, etc.). 2 weeks
    later we see the highest rate of increase in COVID cases. Most of the cases were in Madrid and Catalonia.
  </li>
  <li>Mid lockdown: Major decrease in NO2 activity, and cases also decreased 2 weeks later, and have remained stable
    since then (based on reported sources).
  </li>
  <li>Current: Lockdown remains in high effect; and covid cases have decreased steadily through this period.</li>
</ul>

<p>UK view:</p>

<ul>
  <li>Opening Remarks: UK is considered to have a “lax” quarantine; Wales and Scotland implemented stricter lockdown
    rules while England did not. There were also several protests against the quarantine, as well as many cases of
    people breaking the quarantine. Government regulations also allowed for car travel to areas for exercise, aside from
    essential travel.
  </li>
  <li>Before quarantine: High levels of NO2 across the board; highest levels forming over London and the Midlands
    (middle of England), as well as some high NO2 zones over Scotland. Not much information available over Wales due to
    cloud cover.
  </li>
  <li>Beginning of quarantine (end of March/Early April): Much lower emissions all around; London remained a high-level
    zone but did show some decrease in area. UK spiked in cases during this time, which is unusual compared to data from
    Spain. However, closer investigation shows that most of the cases were in inner London, a densely populated area
    with nearly double the population density of Madrid (Madrid = 5,400 per square kilometer, Inner London = 8,400 per
    square kilometer)
  </li>
  <li>Mid-quarantine (April): Sharp increase in NO2 levels. London still continued to have decreased NO2 emissions, but
    North England saw a major increase. There was also an increase in emissions in areas closer to the sea. We see a
    corresponding high increase in Covid cases during this period, with it being the worst affected period of UK covid
    rates.
  </li>
  <li>Current levels: During the month of May, NO2 levels once again saw a sharp decrease. This once again reflects in
    the form of lower covid cases, which has been seeing a steady decrease since the start of May.
  </li>
  <li>Other remarks: NO2 levels were affected by the period within the week. Weekdays consistently showed higher levels
    of NO2 than weekends.
  </li>
  <li><strong>Analysis</strong>: UK seemed to have drastically reduced emissions where applicable. Areas highly affected
    by Covid-19 seemed to show higher levels of NO2 pollution; indicating that there was more movement by the population
    in these areas (and thus increasing the risk of contracting COVID-19)
  </li>
</ul>

<h2>Overall analysis</h2>
<p>NO2 levels and covid has a positive correlation. Spikes in NO2 levels tend to result in higher covid cases in the
  area in the following weeks. The likely reason for this is the increased movement of the population resulting in more
  people coming into contact with each other.</p>
<p>We can also see the effects of different lockdown approaches on effect in CO2. Areas with heavy lockdown see much
  more drastic lowering of NO2 in general (exceptions to this are present in areas of China however).</p>
