<div class="content">
  <div class="text">
    <h2>Example</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec justo eget leo tristique ultrices. Nam blandit aliquam purus in fermentum. Sed a scelerisque orci. Sed nisi dolor, malesuada nec sollicitudin sit amet, rhoncus non ante. Integer vel metus elit. Pellentesque nec justo non velit dictum iaculis at non diam. Mauris eu eros lacinia, rutrum tellus vitae, consectetur orci. Morbi ac maximus odio. Fusce ultricies urna a aliquam malesuada. Proin sit amet eros elit. Cras ac neque dui. Etiam malesuada lorem purus, volutpat cursus felis lobortis et.

      Suspendisse et ante magna. Nam fermentum nulla diam, eget maximus lorem ornare nec. Sed congue convallis molestie. Proin elementum sem at ex porttitor, id placerat leo placerat. Phasellus placerat id metus at vehicula. Curabitur tempus molestie lectus eleifend rutrum. Pellentesque lobortis pulvinar cursus. Aenean at nibh gravida, euismod urna non, fermentum tellus. Nulla facilisi. Aenean ac condimentum leo. Praesent quis mi id eros ullamcorper condimentum et at nisl. Mauris eu dictum leo. Donec consequat est vel dui laoreet mattis.</p>

  </div>
  <div class="image">
    <img src="https://pixy.org/images/placeholder.png">
  </div>
</div>
