<!--
<div class="content">
  <div class="text">
    <h2>Example</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec justo eget leo tristique ultrices. Nam blandit aliquam purus in fermentum. Sed a scelerisque orci. Sed nisi dolor, malesuada nec sollicitudin sit amet, rhoncus non ante. Integer vel metus elit. Pellentesque nec justo non velit dictum iaculis at non diam. Mauris eu eros lacinia, rutrum tellus vitae, consectetur orci. Morbi ac maximus odio. Fusce ultricies urna a aliquam malesuada. Proin sit amet eros elit. Cras ac neque dui. Etiam malesuada lorem purus, volutpat cursus felis lobortis et.

      Suspendisse et ante magna. Nam fermentum nulla diam, eget maximus lorem ornare nec. Sed congue convallis molestie. Proin elementum sem at ex porttitor, id placerat leo placerat. Phasellus placerat id metus at vehicula. Curabitur tempus molestie lectus eleifend rutrum. Pellentesque lobortis pulvinar cursus. Aenean at nibh gravida, euismod urna non, fermentum tellus. Nulla facilisi. Aenean ac condimentum leo. Praesent quis mi id eros ullamcorper condimentum et at nisl. Mauris eu dictum leo. Donec consequat est vel dui laoreet mattis.</p>

  </div>
  <div class="image">
    <img src="https://pixy.org/images/placeholder.png">
  </div>
</div>
-->

<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
  <mdb-carousel-item>
    <!--Mask color-->
    <div class="view">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source src="../../assets/colour.mp4" type="video/mp4"/>
      </video>
      <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Our idea</h3>
        <p>Looking at NO2 data to track the change in range of movements, especially fossil fuel based
          transportation such as cars and buses.
          NO2 is natural occurring gas, but is also produced in the combustion of fossil fuels. Therefore it can be
          considered an indicator of density of population, as well as the range of distance people move (i.e daily
          commutes).</p>

        <p>By comparing changes in NO2 with real-life data, we can estimate the density of population and how far people move</p>

        <p>During COVID-19 Quarantines, we can more accurately pinpoint areas of population density due to the decreased
        movement of population. Then by comparing data from different time periods, we can determine the extent to which
          population mobility correlates to COVID-19 cases.</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!--Mask color-->
    <div class="view">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source src="../../assets/colour.mp4" type="video/mp4"/>
      </video>
      <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <img src="assets/graph1.png" style="padding-bottom: 10px"><img src="assets/graph2.png" style="padding-bottom: 10px; padding-left: 25px">
        <h3 class="h3-responsive">Graphs for COVID and NO2</h3>
        <p>Above is the data for COVID-19 and NO2 in Spain(right) over the same time frame (1st Jan - 31st May), as well as for the UK(left). As you can see, there appears to be an inverse correlation, but this is actually clarified as a delayed positive correlation when accounting for the 2-3 week incubation period for coronavirus. High levels of NO2 tended to be the prelude to high rates of covid cases (accounting for the 2-3 week incubation period for the virus). </p>
      </div>
    </div>
    <!--Caption-->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!--Mask color-->
    <div class="view">
      <!--Video source-->

      <video class="video-fluid" autoplay loop>
        <source src="../../assets/spain.mp4" type="video/mp4"/>
      </video>
      <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Explanation of process</h3>
        <p>We attempted several different types of data (night lights, vegetation)processing on different data with varying levels of success.</p>
        <p>For the data processing, we have used Python/OpenCV to analyze the NO2 changes respect to country regions. we have overlayed Sentinel satelite's NO2 levels heatmap with real world map. We have applied red filter to distinguish high level NO2 changes.</p>
        <p>Then we have decided to integrate with other real life data to increase the added value such as lockdown dates, and COVID-19 daily cases respect to their countries
          In the end,  we have observed that the high NO2 levels significantly decrease since the COVID-19 outbreak and reached the all month lows when the lockdown measures are added
          such as Spain.</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!--Mask color-->
    <div class="view">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source src="../../assets/uk.mp4" type="video/mp4"/>
      </video>
      <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Final Analysis and conclusion</h3>
        <p>NO2 levels and COVID-19 have a positive correlation. Spikes in NO2 levels tend to result in higher covid cases in the area in the following weeks (accounting for the incubation period). The likely reason for this is the increased movement of the population resulting in more people coming into contact with each other.</p>
        <p>We can also see the effects of different lockdown approaches on effect in CO2. Areas with heavy lockdown see much more drastic lowering of NO2 in general (i.e the effect of Spain’s later, more intense lockdown). A good quarantine procedure should effectively reduce NO2 emissions, as the population shouldn’t be mobile. It’s also a good indicator that quarantine works. We can also improve our estimations by including other data types such as CO2 and night lights to make up for the limitations of NO2.</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-carousel-item>
  <mdb-carousel-item>
    <!--Mask color-->
    <div class="view">
      <!--Video source-->
      <video class="video-fluid" autoplay loop>
        <source src="../../assets/test_quick.mp4" type="video/mp4"/>
      </video>
      <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
    </div>

    <!--Caption-->
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Future possibilities and applications of findings</h3>
        <p>We can use our findings, and improve our process to help make more informed decisions on population movement during future quarantines. By developing better NO2 monitoring, we can use it as a tool to assist the tracking of how well populations are adhering to quarantine so that appropriate steps can be taken to mitigate negative effects of pandemics.</p>
        <p>We can also use the data to estimate “range” of different populations movement, and use this to help determine possible at-risk areas of infection.</p>
        <p>Thank you for reading our project! We’re new to this, so hopefully this appeals to you!
          Look around the site to see some of the ideas we explored, as well as links to resources.</p>
      </div>
    </div>
    <!--Caption-->
  </mdb-carousel-item>
</mdb-carousel>
<!--Carousel Wrapper-->
